.posts {
  flex: 1;
  overflow-y: scroll;
  height: 85vh;
  padding: 0 5px;
}

.posts::-webkit-scrollbar {
  display: none;
}

.posts {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.posts__post {
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: white;
  padding: 35px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgb(0 0 255 / 20%);
}

.posts__post:hover {
  background-color: #eee7e757;
}

.posts_post--active {
  background-color: #eee7e78c;
}

.posts__title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 15px;
}

.posts__body {
  color: grey;
  font-size: 13px;
}

.posts__post--loading {
  cursor: default;
}
