.app {
  background-color: whitesmoke;
  height: 100vh;
  overflow: hidden;
}

.app__header {
  display: flex;
  background-color: #1976d2;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  height: 35px;
  color: whitesmoke;
  padding: 15px;
  align-items: center;
  font-family: cursive;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  justify-content: space-between;
}

.app__logo {
  margin-left: 50px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: transform 0.3s;
}

.app__logo:hover {
  transform: scale(1.1);
}

.app__body {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 10px;
}

.app__socialMedia {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
}

.app__socialMedia .MuiSvgIcon-root {
  color: white !important;
  font-size: 30px !important;
}
