.postPreview {
  flex: 0.33;
  background-color: white;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgb(0 0 255 / 20%);
  border-radius: 5px;
  height: 85vh;
}

.postPreview__content {
  padding: 15px;
}

.postPreview__title {
  text-transform: uppercase;
  padding-bottom: 2%;
  border-bottom: 1px solid whitesmoke;
}

.postPreview__body {
  font-size: 16px;
}

.postPreview__banner {
  width: 100%;
  background-color: whitesmoke;
  height: 10%;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

.postPreview__banner img {
  object-fit: contain;
  border-radius: 5px;
  width: 100%;
  height: auto;
}
